---
layout: default-home
---

<div class="home">
<div id="homebanner">
    <h1>Collect. Browse. Search.</h1>
</div>

<div class="homecolumn" id="homecol1">
  <h2>Collect</h2>
  <img src="/images/collect.jpg"  />
  <p>
    {% for section in page.homecol1 %}
      {{ section | textilize }}
    {% endfor %}
  </p>
</div>

<div class="homecolumn" id="homecol2">
  <h2>Browse</h2>
  <img src="/images/browse.jpg"  />
  <p>
    {% for section in page.homecol2 %}
      {{ section | textilize }}
    {% endfor %}
  </p>
</div>

<div class="homecolumn" id="homecol2">
  <h2>Search</h2>
  <img src="/images/search.jpg"  />
  <p>
    {% for section in page.homecol3 %}
      {{ section | textilize }}
    {% endfor %}
  </p>
</div>



<div class="clear">
</div>


  </div>
