---
layout: default-home
---

<div class="home">
    <div id="homebanner">
        <h1>
      {% for section in page.bannertext %}
        {{ section | textilize }}
      {% endfor %}
    </h1>
    </div>

    <div class="homecolumn" id="homecol1">
        <h2>{% for section in page.homecol1head %} {{ section | textilize }} {% endfor %}</h2>
        <img src="/images/{% for section in page.homecol1img %} {{ section | textilize }} {% endfor %}" />
        <p>
            {% for section in page.homecol1text %} {{ section | textilize }} {% endfor %}
        </p>
    </div>

    <div class="homecolumn" id="homecol2">
        <h2>{% for section in page.homecol2head %} {{ section | textilize }} {% endfor %}</h2>
        <img src="/images/{% for section in page.homecol2img %} {{ section | textilize }} {% endfor %}" />
        <p>
            {% for section in page.homecol2text %} {{ section | textilize }} {% endfor %}
        </p>
    </div>

    <div class="homecolumn" id="homecol3">
        <h2>{% for section in page.homecol3head %} {{ section | textilize }} {% endfor %}</h2>
        <img src="/images/{% for section in page.homecol3img %} {{ section | textilize }} {% endfor %}" />
        <p>
            {% for section in page.homecol3text %} {{ section | textilize }} {% endfor %}
        </p>
    </div>



    <div class="clear">
    </div>

            <h2 class="homeheader">Services</h2>

    <div class="clear" id="hometext">
      <div class="homecolumn" id="homecol4">
          <h2>{% for section in page.homecol4head %} {{ section | textilize }} {% endfor %}</h2>
          <img src="/images/{% for section in page.homecol4img %} {{ section | textilize }} {% endfor %}" />
          <p>
              {% for section in page.homecol4text %} {{ section | textilize }} {% endfor %}
          </p>
      </div>

      <div class="homecolumn" id="homecol5">
          <h2>{% for section in page.homecol5head %} {{ section | textilize }} {% endfor %}</h2>
          <img src="/images/{% for section in page.homecol5img %} {{ section | textilize }} {% endfor %}" />
          <p>
              {% for section in page.homecol5text %} {{ section | textilize }} {% endfor %}
          </p>
      </div>

      <div class="homecolumn" id="homecol6">
          <h2>{% for section in page.homecol6head %} {{ section | textilize }} {% endfor %}</h2>
          <img src="/images/{% for section in page.homecol6img %} {{ section | textilize }} {% endfor %}" />
          <p>
              {% for section in page.homecol6text %} {{ section | textilize }} {% endfor %}
          </p>
      </div>
        <div class="clear">
        </div>
    </div>

</div>
</div>
